Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, frontend-pages

deploy-server:
  stage: deploy
  cache:
    paths:
    - server/node_modules/
  before_script:
  - npm config set prefix /usr/local
  - npm install -g serverless
  - cd server && npm install
  script:
  - npm run deploy
  environment: production

frontend-pages:
  cache:
    paths:
    - webstatic/node_modules/
  script:
  - cd webstatic && npm install
  - ./node_modules/.bin/gatsby build --prefix-paths
  artifacts:
    paths:
    - webstatic/public

songId refactor
  server/src/datasources/dynamo-db.js
Due: deploy-server

replace repeat parenties
  client/src/utils/__tests__/text-breaker.ts
  client/src/utils/text-breaker.ts
Due: none

refactor repeat sign
  client/src/components/text-form/song-form.tsx
  client/src/utils/__tests__/text-breaker.ts
  client/src/utils/text-breaker.ts
Due: none

display repeat
  client/src/components/text-form/song-form.tsx
  webstatic/src/components/song-text.js
  webstatic/src/styles/_song.scss
Due: frontend-pages

update versions
  client/package.json
  server/package.json
  webstatic/package.json
Due: deploy-server, frontend-pages

refactor repeat sign css
  webstatic/gatsby-config.js
  webstatic/src/styles/_song.scss
Due: frontend-pages

css inset unsuported fix
  webstatic/src/styles/_song.scss
Due: frontend-pages

serch normalization
  client/src/utils/__tests__/normalization.ts
  webstatic/src/components/song-filter.js
Due: frontend-pages

refactor
  webstatic/src/components/search.js
  webstatic/src/pages/index.js
  webstatic/src/utils/index.js
Due: frontend-pages

add logo and refactor
  webstatic/gatsby-config.js
  webstatic/src/components/song-text.js
  webstatic/src/images/gatsby-astronaut.png
  webstatic/src/images/gatsby-icon.png
  webstatic/src/images/logo.png
Due: frontend-pages

remove next.js starter
  webapp/components/nav.js
  webapp/next.config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/pages/index.js
  webapp/serverless.yml
  webapp/static/favicon.ico
Due: none

rename webapp
  .gitignore
  .gitlab-ci.yml
  webapp/.prettierrc
  webapp/LICENSE
  webapp/README.md
  webapp/gatsby-browser.js
  webapp/gatsby-config.js
  webapp/gatsby-node.js
  webapp/gatsby-ssr.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/layout.js
  webapp/src/components/search.js
  webapp/src/components/seo.js
  webapp/src/components/song-filter.js
  webapp/src/components/song-row.js
  webapp/src/components/song-text.js
  webapp/src/components/song.js
  webapp/src/images/logo.png
  webapp/src/pages/404.js
  webapp/src/pages/index.js
  webapp/src/styles/_layout.scss
  webapp/src/styles/_song-list.scss
  webapp/src/styles/_song.scss
  webapp/src/styles/_variables.scss
  webapp/src/styles/style.scss
  webapp/src/utils/index.js
  webapp/src/utils/typography.js
Due: none

youtube link
  webapp/src/components/layout.js
  webapp/src/components/song.js
Due: none

move to netlify
  .gitlab-ci.yml
  client/public/_redirects
  client/src/index.tsx
  webapp/gatsby-config.js
Due: none

move gitignore
  .gitignore
  client/.gitignore
  client/package.json
Due: none

server link refactor
  editor/src/index.tsx
Due: none

netlify widget auth
  editor/package-lock.json
  editor/package.json
  editor/src/components/header.tsx
  editor/src/components/index.tsx
  editor/src/components/netlify.tsx
  editor/src/index.tsx
  editor/src/pages/index.tsx
Due: none

rename utils folder
  editor/src/components/text-form/song-form.tsx
  editor/src/lib/__tests__/normalization.ts
  editor/src/lib/__tests__/regex.ts
  editor/src/lib/__tests__/text-breaker.ts
  editor/src/lib/fixArabicNumber.ts
  editor/src/lib/text-breaker.ts
Due: none

login with react widget
  editor/package-lock.json
  editor/package.json
  editor/src/components/header.tsx
  editor/src/components/index.tsx
  editor/src/components/login.tsx
  editor/src/components/netlify.tsx
  editor/src/pages/index.tsx
Due: none

remove netligy init hasle from index
  editor/src/index.tsx
Due: none

local develop without login
  editor/src/pages/index.tsx
Due: none

bit init
  .bitmap
  bit.json
Due: none

typo fix
  webapp/gatsby-config.js
Due: none

refactor separeted song text to component folder
  webapp/src/components/song-text/index.jsx
  webapp/src/components/song-text/style.scss
  webapp/src/styles/_song.scss
Due: none

bit export song-text
  .bitmap
  .gitignore
  bit.json
Due: none

install gest for bit test
  bit.json
Due: none

attempt to use bit song-text
  editor/package-lock.json
  editor/package.json
  editor/src/components/text-form/orderer.tsx
Due: none

bit song-text fix
  .bitmap
  bit.json
  editor/package-lock.json
  editor/package.json
  editor/src/components/text-form/orderer.tsx
  editor/src/components/text-form/song-form.tsx
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/song-text/index.tsx
Due: none

switch song text to styled components
  webapp/gatsby-config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/layout.js
  webapp/src/components/song-text/index.tsx
  webapp/src/components/song-text/style.scss
  webapp/src/components/song.js
  webapp/src/styles/_song.scss
Due: none

move to styled components completely
  webapp/gatsby-browser.js
  webapp/gatsby-config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/layout.js
  webapp/src/components/search.js
  webapp/src/components/song-row.js
  webapp/src/components/song-text/index.tsx
  webapp/src/components/song.js
  webapp/src/pages/index.js
  webapp/src/styles/_layout.scss
  webapp/src/styles/_song-list.scss
  webapp/src/styles/_song.scss
  webapp/src/styles/_variables.scss
  webapp/src/styles/style.scss
Due: none

refactor song-text to song-slide
  .bitmap
  webapp/src/components/song-slide/index.tsx
  webapp/src/components/song.js
Due: none

using song-text in Editor
  editor/package-lock.json
  editor/package.json
  editor/src/components/index.tsx
  editor/src/components/text-form/orderer.tsx
  editor/src/components/text-form/submit-result.tsx
Due: none

webapp tests init
  webapp/__mocks__/file-mock.js
  webapp/__mocks__/gatsby.js
  webapp/jest-preprocess.js
  webapp/jest.config.js
  webapp/loadershim.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/__tests__/__snapshots__/song-row.js.snap
  webapp/src/components/__tests__/__snapshots__/song.js.snap
  webapp/src/components/__tests__/song-row.js
  webapp/src/components/__tests__/song.js
  webapp/src/components/layout.js
  webapp/src/components/song.js
Due: none

refactor to song-slide
  .bitmap
  editor/package-lock.json
  editor/package.json
  editor/src/components/text-form/orderer.tsx
Due: none

refactor to atomic design
  editor/src/atoms/loading.tsx
  editor/src/atoms/page-header.tsx
  editor/src/components/__tests__/header.tsx
  editor/src/components/__tests__/loading.tsx
  editor/src/components/index.tsx
  editor/src/molecules/error.tsx
  editor/src/molecules/orderer.tsx
  editor/src/molecules/step.tsx
  editor/src/molecules/submit.ts
  editor/src/organisms/header.tsx
  editor/src/organisms/login.tsx
  editor/src/organisms/song-form.tsx
  editor/src/organisms/submit-result.tsx
  editor/src/pages/index.tsx
  editor/src/pages/new-song.tsx
  editor/src/pages/song.tsx
  editor/src/pages/songs.tsx
Due: none

add storybook
  editor/.storybook/main.js
  editor/package-lock.json
  editor/package.json
  editor/src/atoms/loading.stories.js
  editor/src/atoms/page-header.stories.js
  editor/yarn.lock
Due: none

refactor ts to js for tests
  editor/src/lib/__tests__/normalization.js
  editor/src/lib/__tests__/regex.js
  editor/src/lib/__tests__/text-breaker.js
Due: none

string comparator
  editor/src/lib/__tests__/str-comparator.js
  editor/src/lib/str-comparator.ts
Due: none

Path conditions:
  deploy-server: any of: server/**/*
  frontend-pages: any of: webstatic/**/*
