Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, frontend-pages

.gitlab-ci.yml:

image: node:latest

stages:
  - deploy


deploy-server:
  stage: deploy
  only:
    changes:
      - server/**/*
  cache:
    paths:
      - server/node_modules/
  before_script:
    - npm config set prefix /usr/local
    - npm install -g serverless
    - cd server && npm install
  script:
    - npm run deploy
  environment: production

frontend-pages:
  only:
    changes:
      - webstatic/**/*
  cache:
    paths:
      - webstatic/node_modules/
  script:
    - cd webstatic && npm install
    - ./node_modules/.bin/gatsby build --prefix-paths
  artifacts:
    paths:
      - webstatic/public

fix gitlab job stage
  .gitlab-ci.yml
  webstatic/src/pages/index.js
Due: frontend-pages

fix gitlab job
  .gitlab-ci.yml
  webstatic/src/pages/index.js
Due: frontend-pages

fix gitlab ci yml
  .gitlab-ci.yml
Due: none

layout update test
  webstatic/src/components/layout.js
Due: frontend-pages

song index view
  webstatic/gatsby-config.js
  webstatic/package-lock.json
  webstatic/package.json
  webstatic/src/components/search.js
  webstatic/src/components/song-row.js
  webstatic/src/pages/index.js
  webstatic/src/utils.js
Due: frontend-pages

auto generating song pages
  webstatic/gatsby-node.js
  webstatic/src/components/song-row.js
  webstatic/src/components/song-text.js
  webstatic/src/components/song.js
  webstatic/src/pages/page-2.js
Due: frontend-pages

fix gitlab pages job
  .gitlab-ci.yml
Due: none

rearange markup
  .gitignore
  webstatic/gatsby-config.js
  webstatic/gatsby-node.js
  webstatic/src/components/header.js
  webstatic/src/components/layout.js
  webstatic/src/components/navBar.js
  webstatic/src/components/song.js
  webstatic/src/pages/index.js
Due: frontend-pages

empty field fix
  server/src/datasources/dynamo-db.js
Due: deploy-server

plugging in typography.js
  webstatic/gatsby-config.js
  webstatic/package-lock.json
  webstatic/package.json
  webstatic/src/components/seo.js
  webstatic/src/styles/style.scss
  webstatic/src/utils/index.js
  webstatic/src/utils/typography.js
  webstatic/src/utils/word-search.js
Due: frontend-pages

song view css
  webstatic/src/components/layout.js
  webstatic/src/components/song.js
  webstatic/src/styles/_layout.scss
  webstatic/src/styles/_navbar.scss
  webstatic/src/styles/_song.scss
  webstatic/src/styles/_variables.scss
  webstatic/src/styles/style.scss
  webstatic/src/utils/typography.js
Due: frontend-pages

mark up and clean up
  webstatic/package-lock.json
  webstatic/package.json
  webstatic/src/components/layout.js
  webstatic/src/components/search.js
  webstatic/src/components/song-row.js
  webstatic/src/components/song.js
  webstatic/src/pages/index.js
  webstatic/src/styles/_layout.scss
  webstatic/src/styles/_song-list.scss
  webstatic/src/styles/_song.scss
  webstatic/src/styles/style.scss
Due: frontend-pages

og song data
  webstatic/gatsby-config.js
  webstatic/src/components/search.js
  webstatic/src/components/song.js
Due: frontend-pages

whatsapp share
  webstatic/package-lock.json
  webstatic/package.json
  webstatic/src/components/layout.js
  webstatic/src/components/seo.js
  webstatic/src/components/song.js
  webstatic/src/styles/_layout.scss
Due: frontend-pages

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

react step wizard
  client/package-lock.json
  client/package.json
  client/src/components/index.tsx
  client/src/components/new-song/song-form.tsx
  client/src/components/new-song/step.tsx
  client/src/components/page-header.tsx
  client/src/components/song-form.tsx
  client/src/index.tsx
  client/tsconfig.json
  client/types/react-step-wizard/index.d.ts
Due: none

useState hook instead of class
  client/src/components/new-song/song-form.tsx
Due: none

song text breaker
  client/src/components/__tests__/menu-item.tsx
  client/src/utils/__tests__/text-breaker.ts
  client/src/utils/fixArabicNumber.ts
  client/src/utils/text-breaker.ts
Due: none

start using textBreaker
  client/src/components/new-song/song-form.tsx
  client/src/utils/text-breaker.ts
Due: none

fix textBreaker
  client/src/components/__tests__/footer.tsx
  client/src/components/__tests__/header.tsx
  client/src/components/__tests__/page-container.tsx
  client/src/components/new-song/song-form.tsx
  client/src/utils/__tests__/regex.ts
  client/src/utils/__tests__/text-breaker.ts
  client/src/utils/text-breaker.ts
Due: none

ordering layout
  client/src/components/new-song/ordering.tsx
  client/src/components/new-song/song-form.tsx
  client/src/utils/text-breaker.ts
Due: none

textBreaker refactor
  client/src/utils/text-breaker.ts
Due: none

add Song step refactor
  client/src/components/new-song/song-form.tsx
  client/src/components/new-song/step.tsx
  client/types/react-step-wizard/index.d.ts
Due: none

Error handling
  client/src/components/error.tsx
  client/src/components/index.tsx
  client/src/components/new-song/song-form.tsx
  client/src/components/new-song/step.tsx
  client/src/index.tsx
  client/src/pages/new-song.tsx
Due: none

updated schema
  server/src/schema.js
Due: deploy-server

save song with slides to db
  server/src/datasources/dynamo-db.js
Due: deploy-server

returning pretified results
  server/src/datasources/songs-dynamodb.js
Due: deploy-server

song text resolver
  server/src/resolvers.js
Due: deploy-server

type generation fix/move
  client/package.json
  client/src/__generated__/GetSongList.ts
  client/src/__generated__/SongDetails.ts
  client/src/__generated__/globalTypes.ts
  client/src/__generated__/saveSong.ts
  client/src/components/new-song/ordering.tsx
  client/src/components/new-song/song-form.tsx
  client/src/pages/song.tsx
  client/src/pages/songs.tsx
  client/src/utils/__tests__/text-breaker.ts
  client/src/utils/text-breaker.ts
  server/src/schema.js
Due: deploy-server

fix gpl types
  client/src/pages/new-song.tsx
Due: none

slides on the web
  webstatic/gatsby-config.js
  webstatic/src/components/layout.js
  webstatic/src/components/song-text.js
  webstatic/src/components/song.js
  webstatic/src/styles/_song.scss
Due: frontend-pages

update song resolver
  server/src/resolvers.js
  server/src/schema.js
Due: deploy-server

schema update
  server/src/resolvers.js
  server/src/schema.js
Due: deploy-server

move id generation to client ID!
  server/src/datasources/dynamo-db.js
  server/src/resolvers.js
  server/src/schema.js
Due: deploy-server

remove string gen library
  server/package-lock.json
  server/package.json
Due: deploy-server

add string generation for id
  client/package-lock.json
  client/package.json
Due: none

refactor edit song
  client/src/__generated__/SongDetails.ts
  client/src/__generated__/updateSong.ts
  client/src/components/index.tsx
  client/src/components/song-row.tsx
  client/src/components/text-form/ordering.tsx
  client/src/components/text-form/song-form.tsx
  client/src/components/text-form/step.tsx
  client/src/components/text-form/submit.ts
  client/src/pages/index.tsx
  client/src/pages/new-song.tsx
  client/src/pages/song.tsx
Due: none

refactor update song hook
  client/src/components/text-form/song-form.tsx
  client/src/components/text-form/submit.ts
Due: none

edit song refractor
  client/src/components/index.tsx
  client/src/components/text-form/orderer.tsx
  client/src/components/text-form/song-form.tsx
  client/src/components/text-form/submit-result.tsx
Due: none
