Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, pages

deploy-server:
  stage: deploy
  cache:
    paths:
    - node_modules/
  before_script:
  - yarn install && cd packages/server
  script:
  - yarn run deploy
  environment: production

pages:
  stage: test
  cache:
    paths:
    - node_modules/
  script:
  - yarn install && cd editor
  - yarn run build-storybook
  - mv -v ./storybook-static/ ../../public
  artifacts:
    paths:
    - public

Editable refactor
  packages/editor/src/atoms/editable.tsx
  packages/editor/src/atoms/page-header.tsx
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/organisms/form-edit.tsx
Due: pages

slide reducer
  packages/editor/src/molecules/slide.tsx
Due: pages

form reducer
  packages/editor/src/molecules/grid-slide-map.tsx
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/organisms/form-edit.tsx
  packages/editor/src/organisms/use-form-reducer.ts
Due: pages

dispatch CHORDS UPDATE
  packages/editor/src/organisms/use-form-reducer.ts
Due: pages

ChordsEditor save
  packages/editor/src/molecules/grid-slide-map.tsx
  packages/editor/src/organisms/chords-editor/index.tsx
  packages/editor/src/organisms/chords-editor/key-binding.ts
  packages/editor/src/organisms/chords-editor/slide-reducer.ts
  packages/editor/src/organisms/use-form-reducer.ts
Due: pages

Add chords to SongSlide
  .bitmap
  packages/webapp/src/components/organisms/song-slide/chords-line.tsx
  packages/webapp/src/components/organisms/song-slide/index.tsx
  packages/webapp/src/components/organisms/song-slide/lyrics-line.tsx
Due: none

using SongSlide with chords
  .bitmap
  packages/editor/package.json
  packages/editor/src/molecules/grid-slide-map.tsx
  yarn.lock
Due: pages

SongSlide without chords refactor
  .bitmap
  packages/editor/package.json
  packages/webapp/src/components/organisms/song-slide/chords-line.tsx
  packages/webapp/src/components/organisms/song-slide/index.tsx
  yarn.lock
Due: pages

add Chord to graphQl schema
  packages/server/src/datasources/dynamo-db.js
  packages/server/src/datasources/songs-dynamodb.js
  packages/server/src/resolvers.js
  packages/server/src/schema.js
Due: deploy-server

refactor additional handler for mutation
  packages/server/serverless.yml
  packages/server/src/datasources/mongo-db.js
  packages/server/src/datasources/songs-mongodb.js
  packages/server/src/handler.js
  packages/server/src/handlers.js
  packages/server/src/server-edit.js
  packages/server/src/server-query.js
Due: deploy-server

fix schema
  packages/server/src/schema.js
Due: deploy-server

update EMPTY CHORD CHAR
  .bitmap
  packages/common/src/chords/__tests__/chord-slide.js
  packages/common/src/chords/chord-action.ts
  packages/common/src/chords/chord-slide.ts
  packages/common/src/chords/chord.ts
Due: none

refactor null to undefined for GraphQl query
  packages/editor/src/__generated__/GetSongList.ts
  packages/editor/src/__generated__/SongDetails.ts
  packages/editor/src/__generated__/globalTypes.ts
  packages/editor/src/__generated__/updateSong.ts
  packages/editor/src/index.tsx
  packages/editor/src/molecules/use-update-song.ts
  packages/editor/src/organisms/form-add.tsx
  packages/editor/src/organisms/form-edit.tsx
  packages/editor/src/organisms/use-form-reducer.ts
  packages/editor/src/pages/song.tsx
Due: pages

refactor skip displaying EMPTY CHORD
  .bitmap
  packages/editor/package.json
  packages/editor/src/organisms/chords-editor/chord-span.tsx
  packages/webapp/src/components/organisms/song-slide/chords-line.tsx
  yarn.lock
Due: pages

small fixes
  .bitmap
  packages/common/src/chords/chord-slide.ts
  packages/common/src/chords/index.ts
  packages/editor/package.json
  packages/webapp/src/components/organisms/song-slide/index.tsx
  yarn.lock
Due: pages

refactor fix mutation errors
  packages/editor/src/hooks/use-form-reducer.ts
  packages/editor/src/index.tsx
Due: pages

server func name refactor
  packages/server/src/datasources/dynamo-db.js
  packages/server/src/datasources/songs-dynamodb.js
  packages/server/src/resolvers.js
Due: deploy-server

form edit refactor
  packages/editor/src/hooks/use-form-reducer.ts
  packages/editor/src/hooks/use-update-song.ts
  packages/editor/src/utils/null-undefined.ts
  packages/editor/src/utils/slide-cleaner.ts
Due: pages

form add using reducer
  packages/editor/src/__generated__/submitSong.ts
  packages/editor/src/components/organisms/form-add.tsx
  packages/editor/src/hooks/use-add-reducer.ts
  packages/editor/src/hooks/use-submit-song.ts
  packages/editor/src/pages/new-song.tsx
Due: pages

attempt to refactor
  packages/editor/src/hooks/use-form-reducer.ts
  packages/editor/src/utils/slide-cleaner.ts
Due: pages

switch to rtl
  packages/editor/package.json
  packages/editor/public/index.html
  packages/editor/src/components/atoms/rtl.tsx
  packages/editor/src/index.tsx
  packages/editor/src/theme.ts
  yarn.lock
Due: pages

add forgotten dependency
  packages/editor/package.json
  yarn.lock
Due: pages

remove babel-loader from package json
  packages/editor/package.json
Due: pages

fix some warnings
  packages/editor/src/components/atoms/page-header.tsx
  packages/editor/src/components/organisms/chords-editor/slide-actions.ts
  packages/editor/src/hooks/use-form-reducer.ts
  packages/editor/src/utils/text-breaker.ts
Due: pages

turn off eslint rule
  packages/editor/src/utils/text-breaker.ts
Due: pages

server cors and serverless deploy fix
  .gitlab-ci.yml
  packages/server/src/handlers.js
Due: deploy-server

trying to deploy server with node_modules
  .gitlab-ci.yml
  packages/server/serverless.yml
Due: deploy-server

trying serverless
  packages/server/serverless.yml
Due: deploy-server

fix keyGeneration error
  packages/editor/src/utils/__tests__/generate-key.js
  packages/editor/src/utils/generate-key.ts
Due: pages

unique song id refactor
  packages/editor/src/pages/new-song.tsx
  packages/editor/src/pages/songs.tsx
Due: pages

add backdrop when chordEditing
  packages/editor/src/components/molecules/grid-slide-map.tsx
  packages/editor/src/components/organisms/form-edit.tsx
Due: pages

update chord editor on bit
  .bitmap
Due: none

fix cursor in chords editor
  packages/editor/src/components/organisms/chords-editor/chord-span.tsx
  packages/editor/src/components/organisms/chords-editor/chords-block.tsx
Due: pages

fix error chord in the end crashes
  packages/common/src/chords/__tests__/chord-slide.js
  packages/common/src/chords/chord-action.ts
Due: none

remove repeat sign from chord slide
  packages/common/src/chords/chord-slide.ts
Due: none

update bit packages
  .bitmap
  packages/editor/package.json
  yarn.lock
Due: pages

refactror
  packages/editor/src/components/molecules/grid-slide-map.tsx
  packages/editor/src/components/organisms/chords-editor/index.tsx
  packages/editor/src/components/organisms/chords-editor/slide-reducer.ts
  packages/editor/src/components/organisms/chords-editor/use-slide.ts
Due: pages

sort song list
  packages/editor/src/pages/songs.tsx
Due: pages

Chords Toolbar and Update button
  packages/editor/src/components/molecules/grid-slide-map.tsx
  packages/editor/src/components/organisms/chords-editor/chords-toolbar.tsx
  packages/editor/src/components/organisms/chords-editor/index.tsx
  packages/editor/src/components/organisms/chords-editor/slide-reducer.ts
Due: pages

Path conditions:
  deploy-server: any of: packages/server/**/*
  pages: any of: packages/editor/**/*
