Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, pages

.gitlab-ci.yml:

image: node:latest

stages:
  - test
  - deploy


deploy-server:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - packages/server/**/*
  cache:
    paths:
      - node_modules/
  before_script:
#    - npm config set prefix /usr/local
#    - yarn install -g serverless
    - yarn install && cd packages/server
  script:
    - yarn run deploy
  environment: production

pages:
  stage: test
  only:
#     refs:
#       - master
    changes:
      - packages/editor/**/*
  cache:
    paths:
      - node_modules/
  script:
    - yarn install && cd editor
    - yarn run build-storybook
    - mv -v ./storybook-static/ ../../public 
  artifacts:
    paths:
      - public

change ButtonAdd position
  packages/editor/src/components/atoms/button-add.tsx
Due: pages

list sort
  packages/editor/src/pages/songs.tsx
Due: pages

font adjust
  packages/editor/public/index.html
  packages/editor/src/theme.ts
Due: pages

refactor ButtonSave
  packages/editor/src/components/atoms/button-save.tsx
  packages/editor/src/components/organisms/form-edit.tsx
Due: pages

remove unsuesed import
  packages/editor/src/components/organisms/form-edit.tsx
Due: pages

move files and update bit components
  .bitmap
  packages/webapp/package.json
  packages/webapp/src/components/song-slide/chords-line.tsx
  packages/webapp/src/components/song-slide/index.tsx
  packages/webapp/src/components/song-slide/lyrics-line.tsx
  yarn.lock
Due: none

refactor link decoration
  packages/webapp/src/components/song-row.js
Due: none

add ChordToggle
  packages/webapp/package.json
  packages/webapp/src/components/atoms/chord-toggle.tsx
  packages/webapp/src/components/song.js
  yarn.lock
Due: none

showChords
  packages/webapp/src/components/song.js
Due: none

add haveChords check for a song
  packages/webapp/src/utils/__tests__/generate-pdf.js
  packages/webapp/src/utils/__tests__/have-chords.js
  packages/webapp/src/utils/have-chords.ts
Due: none

refactor haveChords
  packages/webapp/src/utils/__tests__/have-chords.js
  packages/webapp/src/utils/have-chords.js
  packages/webapp/src/utils/have-chords.ts
Due: none

generate chords pdf and refactor
  packages/webapp/src/utils/__tests__/generate-pdf-chords.js
  packages/webapp/src/utils/generate-pdf-chords.js
  packages/webapp/src/utils/generate-pdf.js
  packages/webapp/src/utils/pdf-tools.js
Due: none

link to chord pdf
  packages/webapp/gatsby-node.js
  packages/webapp/src/components/song.js
Due: none

fix SongPage test
  packages/webapp/src/components/__tests__/__snapshots__/song.js.snap
  packages/webapp/src/components/__tests__/song.js
Due: none

chords pdf align
  packages/webapp/src/utils/__tests__/generate-pdf-chords.js
  packages/webapp/src/utils/pdf-tools.js
Due: none

refactor pdf chords font
  packages/webapp/fonts/NotoSansSymbols-Regular.ttf
  packages/webapp/gatsby-node.js
  packages/webapp/src/utils/__tests__/generate-pdf-chords.js
  packages/webapp/src/utils/pdf-tools.js
Due: none

refactor layout
  packages/webapp/gatsby-config.js
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/song.js
  packages/webapp/src/pages/index.js
Due: none

remove extra comment
  packages/webapp/gatsby-node.js
Due: none

search redisign
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/search.js
  packages/webapp/src/components/song-row.js
  packages/webapp/src/pages/index.js
Due: none

search icon
  packages/webapp/src/components/search.js
Due: none

refactor search css for chrome
  packages/webapp/src/components/search.js
Due: none

search effects
  packages/webapp/src/components/search.js
  packages/webapp/src/pages/index.js
Due: none

sort songs
  packages/webapp/src/pages/index.js
Due: none

pattern design
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/song-slide/index.tsx
  packages/webapp/src/images/pattern.svg
Due: none

refactor using themes
  packages/webapp/gatsby-config.js
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/song-row.js
  packages/webapp/src/components/song-slide/chords-line.tsx
  packages/webapp/src/components/song-slide/index.tsx
  packages/webapp/src/components/song-slide/lyrics-line.tsx
  packages/webapp/src/components/song.js
  packages/webapp/src/pages/index.js
  packages/webapp/src/themes/dark.ts
  packages/webapp/src/themes/index.ts
  packages/webapp/src/themes/style.d.ts
Due: none

patterns theme
  packages/webapp/gatsby-config.js
  packages/webapp/src/images/flower.png
  packages/webapp/src/themes/index.ts
  packages/webapp/src/themes/patterns.ts
Due: none

misc refactor
  packages/webapp/src/components/atoms/chord-toggle.tsx
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/search.js
  packages/webapp/src/components/song-slide/chords-line.tsx
  packages/webapp/src/pages/index.js
  packages/webapp/src/themes/patterns.ts
Due: none

dark2 theme and small fixes
  packages/webapp/gatsby-config.js
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/images/pattern-dark.svg
  packages/webapp/src/pages/index.js
  packages/webapp/src/themes/dark2.ts
  packages/webapp/src/themes/index.ts
Due: none

footer background
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/themes/dark.ts
  packages/webapp/src/themes/dark2.ts
  packages/webapp/src/themes/style.d.ts
Due: none

localization attempt
  packages/webapp/gatsby-node.js
  packages/webapp/package.json
  packages/webapp/src/pages/index.js
  packages/webapp/src/utils/i18n.js
  yarn.lock
Due: none

localization
  packages/webapp/gatsby-browser.js
  packages/webapp/gatsby-node.js
  packages/webapp/gatsby-ssr.js
  packages/webapp/src/components/atoms/chord-toggle.tsx
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/search.js
  packages/webapp/src/components/seo.js
  packages/webapp/src/components/song.js
  packages/webapp/src/locales/ar.json
  packages/webapp/src/locales/en.json
  packages/webapp/src/locales/uk.json
  packages/webapp/src/pages/index.js
  packages/webapp/src/utils/i18n.js
Due: none

update icons
  packages/webapp/src/components/footer.js
Due: none

localisation fixes
  packages/webapp/gatsby-config.js
  packages/webapp/gatsby-node.js
  packages/webapp/src/locales/ar.json
  packages/webapp/src/locales/en.json
  packages/webapp/src/locales/i18n.js
  packages/webapp/src/locales/resources.json
  packages/webapp/src/locales/uk.json
  packages/webapp/src/pages/index.js
Due: none

refactor localization
  packages/webapp/gatsby-browser.js
  packages/webapp/gatsby-ssr.js
  packages/webapp/src/components/song.js
  packages/webapp/src/pages/index.js
Due: none

fix chords dispay
  packages/webapp/src/components/song-slide/chords-line.tsx
Due: none

add youtube link
  packages/editor/src/components/molecules/song-confirm.tsx
  packages/editor/src/components/organisms/form-add.tsx
  packages/editor/src/hooks/use-add-reducer.ts
  packages/editor/src/utils/__tests__/validate-link.js
  packages/editor/src/utils/validate-link.ts
Due: pages

refactor direction as env variable
  packages/editor/src/components/atoms/rtl.tsx
  packages/editor/src/index.tsx
  packages/editor/src/theme.ts
Due: pages

refactor server deploy
  packages/server/package.json
  packages/server/serverless.yml
  packages/server/src/datasources/dynamo-db.js
  packages/server/src/datasources/songs-dynamodb.js
  packages/server/src/handlers.js
  packages/server/src/resolvers.js
  packages/server/src/schema.js
  packages/server/src/server-edit.js
  packages/server/src/server-query.js
  yarn.lock
Due: deploy-server

refactor text-breaker different languages
  packages/editor/src/utils/text-breaker.ts
  packages/editor/src/utils/validate-link.ts
Due: pages

gitlab serverless multiple deploys
  .gitlab-ci.yml
Due: none
