Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, pages

deploy-server:
  stage: deploy
  cache:
    paths:
    - node_modules/
  before_script:
  - yarn install && cd packages/server
  script:
  - yarn run deploy
  environment: production

pages:
  stage: test
  cache:
    paths:
    - node_modules/
  script:
  - yarn install && cd editor
  - yarn run build-storybook
  - mv -v ./storybook-static/ ../../public
  artifacts:
    paths:
    - public

gatsby update
  packages/webapp/package.json
  yarn.lock
Due: none

add introspection to ApolloServer
  packages/server/src/server-query.js
Due: deploy-server

fix gitlab-ci
  .gitlab-ci.yml
Due: none

server remove lang from db
  packages/server/.gitignore
  packages/server/src/datasources/dynamo-db.js
Due: deploy-server

refactor gitlab-ci
  .gitlab-ci.yml
  packages/server/src/resolvers.js
Due: deploy-server

gitlab-ci
  .gitlab-ci.yml
  packages/server/src/server-edit.js
Due: deploy-server

gitlab-ci and hasChords resolver
  .gitlab-ci.yml
  packages/server/src/resolvers.js
Due: deploy-server

fix semicolons
  packages/server/src/resolvers.js
Due: deploy-server

server local init fix
  packages/server/package.json
  yarn.lock
Due: deploy-server

editor fixes
  package.json
  packages/editor/package.json
  packages/editor/src/components/atoms/button-save.tsx
  packages/editor/src/components/atoms/main-container.tsx
  packages/editor/src/index.tsx
  packages/webapp/package.json
  yarn.lock
Due: pages

pdf multipage fix
  packages/webapp/gatsby-node.js
  packages/webapp/package.json
  packages/webapp/src/components/footer.js
  packages/webapp/src/locales/i18n.js
  packages/webapp/src/utils/generate-pdf-chords.js
  packages/webapp/src/utils/generate-pdf.js
  packages/webapp/src/utils/pdf-tools.js
Due: none

chord switch fix
  packages/webapp/src/components/song.js
Due: none

songSlide overlap fix
  packages/webapp/src/components/song-slide/chords-line.tsx
  packages/webapp/src/components/song-slide/index.tsx
  packages/webapp/src/components/song-slide/lyrics-line.tsx
Due: none

move ThemeProvider to wrapPageElement
  packages/webapp/gatsby-browser.js
  packages/webapp/gatsby-ssr.js
  packages/webapp/src/components/context-wrapper.tsx
  packages/webapp/src/components/song.js
  packages/webapp/src/pages/index.js
  packages/webapp/src/utils/wrapPageElement.js
Due: none

language load in context wrapper
  packages/webapp/gatsby-browser.js
  packages/webapp/gatsby-ssr.js
  packages/webapp/package.json
  packages/webapp/src/components/context-wrapper.tsx
  packages/webapp/src/pages/index.js
Due: none

remove link from whatsapp
  packages/webapp/src/components/footer.js
Due: none

remove site link from whatsapp
  packages/webapp/src/components/footer.js
Due: none

bookmark context
  packages/webapp/src/components/bookmark-button.tsx
  packages/webapp/src/components/context-wrapper.tsx
  packages/webapp/src/components/song-row.js
Due: none

use rtl hook and bookmarks link
  packages/webapp/src/components/bookmark-button.tsx
  packages/webapp/src/components/bookmarks.tsx
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/search.js
  packages/webapp/src/utils/use-rtl.js
Due: none

bookmarks page
  packages/webapp/src/pages/s.js
Due: none

bookmark in song
  packages/webapp/src/components/song.js
Due: none

bookmarks in url params
  packages/webapp/package.json
  packages/webapp/src/components/__tests__/__snapshots__/song-row.js.snap
  packages/webapp/src/components/__tests__/__snapshots__/song.js.snap
  packages/webapp/src/components/bookmarks.tsx
  packages/webapp/src/components/context-wrapper.tsx
  packages/webapp/src/components/layout.js
  packages/webapp/src/pages/s.js
  packages/webapp/src/utils/__tests__/id-compress.js
  packages/webapp/src/utils/id-compress.js
Due: none

bookmark page footer
  packages/webapp/src/components/bookmarks.tsx
  packages/webapp/src/components/footer.js
  packages/webapp/src/components/layout.js
  packages/webapp/src/components/song.js
  packages/webapp/src/pages/s.js
  packages/webapp/src/utils/id-compress.js
Due: none

bookmark row
  packages/webapp/src/components/bookmark-button.tsx
  packages/webapp/src/components/bookmark-row.js
  packages/webapp/src/components/file-pdf-chords.tsx
  packages/webapp/src/pages/s.js
Due: none

chords icon
  packages/webapp/src/components/atoms/chord-toggle.tsx
  packages/webapp/src/components/atoms/file-pdf-chords.tsx
  packages/webapp/src/components/bookmark-button.tsx
  packages/webapp/src/components/bookmark-row.js
  packages/webapp/src/components/footer.js
Due: none

hasChords in index
  packages/webapp/src/components/song-row.js
  packages/webapp/src/pages/index.js
Due: none

whatsapp share bookmark page
  packages/webapp/src/pages/s.js
Due: none

remove react toggle
  packages/webapp/package.json
  packages/webapp/src/utils/id-compress.js
  yarn.lock
Due: none

hasChords icon in editor
  packages/editor/src/components/song-row.tsx
  packages/editor/src/pages/songs.tsx
Due: pages

refactor wornings
  packages/editor/src/components/molecules/song-confirm.tsx
  packages/editor/src/components/organisms/chords-editor/chord-container.tsx
  packages/webapp/src/components/bookmark-row.js
  packages/webapp/src/components/footer.js
  packages/webapp/src/pages/s.js
Due: pages

build hook in editor
  packages/editor/src/components/atoms/button-add.tsx
  packages/editor/src/components/atoms/button-publish.tsx
  packages/editor/src/pages/songs.tsx
Due: pages

logout icon
  packages/editor/src/components/organisms/header.tsx
Due: pages

refactor build hook
  packages/editor/src/components/atoms/button-publish.tsx
Due: pages

refactor chord icon
  packages/editor/src/components/song-row.tsx
Due: pages

Update README.md
  README.md
Due: none

Path conditions:
  deploy-server: any of: packages/server/**/*
  pages: any of: packages/editor/**/*
