Repository zhuiks/lcbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, pages

.gitlab-ci.yml:

image: node:latest

stages:
  - test
  - deploy


deploy-server:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - packages/server/**/*
  cache:
    paths:
      - node_modules/
  before_script:
#    - npm config set prefix /usr/local
#    - yarn install -g serverless
    - yarn install && cd packages/server
  script:
    - yarn run deploy
  environment: production

pages:
  stage: test
  only:
#     refs:
#       - master
    changes:
      - packages/editor/**/*
  cache:
    paths:
      - node_modules/
  script:
    - yarn install && cd editor
    - yarn run build-storybook
    - mv -v ./storybook-static/ ../../public 
  artifacts:
    paths:
      - public

start with stepper
  packages/editor/src/organisms/song-form.tsx
Due: pages

SongLyrics input
  packages/editor/src/atoms/song-lyrics.stories.js
  packages/editor/src/atoms/song-lyrics.tsx
  packages/editor/src/organisms/song-form.tsx
Due: pages

step actions
  packages/editor/src/molecules/step-actions.tsx
  packages/editor/src/molecules/step.tsx
  packages/editor/src/organisms/song-form.tsx
  packages/editor/src/pages/new-song.tsx
  packages/editor/src/pages/song.tsx
Due: pages

SongLyrics refactor
  packages/editor/src/atoms/song-lyrics.tsx
  packages/editor/src/organisms/song-form.tsx
Due: pages

SongForm refactor
  packages/editor/src/organisms/song-form.tsx
  packages/server/src/__tests__/__snapshots__/e2e.js.snap
  packages/server/src/__tests__/__snapshots__/integration.js.snap
  packages/server/src/__tests__/__utils.js
  packages/server/src/__tests__/e2e.js
  packages/server/src/__tests__/integration.js
Due: deploy-server, pages

song confirm
  packages/editor/src/molecules/song-confirm.tsx
  packages/editor/src/organisms/song-form.tsx
Due: pages

songConfirm
  packages/editor/src/molecules/song-confirm.tsx
  packages/editor/src/organisms/song-form.tsx
Due: pages

Refactor
  packages/editor/src/atoms/button-add.tsx
  packages/editor/src/organisms/login.tsx
  packages/editor/src/organisms/song-form.tsx
  packages/editor/src/organisms/submit-result.tsx
  packages/editor/src/pages/songs.tsx
Due: pages

remove bootstrap and other packages
  packages/editor/package.json
  yarn.lock
Due: pages

colors and fonts
  packages/editor/src/theme.ts
Due: pages

styling and switching to useStyles
  packages/editor/public/index.html
  packages/editor/src/atoms/button-add.tsx
  packages/editor/src/atoms/main-container.tsx
  packages/editor/src/molecules/step-actions.tsx
  packages/editor/src/organisms/header.tsx
  packages/editor/src/pages/index.tsx
Due: pages

styling
  packages/editor/src/atoms/page-header.tsx
  packages/editor/src/components/search.tsx
  packages/editor/src/components/song-row.tsx
  packages/editor/src/organisms/song-form.tsx
Due: pages

edit form
  packages/editor/src/organisms/form-add.tsx
  packages/editor/src/organisms/form-edit.tsx
  packages/editor/src/pages/new-song.tsx
  packages/editor/src/pages/song.tsx
Due: pages

editable pageheader
  packages/editor/src/atoms/page-header.stories.js
  packages/editor/src/atoms/page-header.tsx
Due: pages

form edit styling
  packages/editor/src/atoms/page-header.tsx
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/organisms/form-edit.tsx
  packages/editor/src/pages/song.tsx
  packages/editor/src/theme.ts
Due: pages

add workspace start
  package.json
  yarn.lock
Due: none

moving SongSlide to common
  packages/common/src/components/song-slide/index.tsx
Due: none

export from common
  packages/common/index.ts
  packages/common/src/index.ts
Due: none

refactor imutable with vanila js
  packages/common/src/chords/__tests__/chord-slide.js
  packages/common/src/chords/__tests__/chord.js
  packages/common/src/chords/chord-slide.ts
  packages/common/src/chords/chord.ts
  packages/common/src/components/chords-editor/__tests__/__snapshots__/chord-editor.js.snap
Due: none

refactor common package
  packages/common/index.ts
  packages/common/package.json
  packages/common/src/index.ts
Due: none

fix Immutable
  packages/common/src/components/chords-editor/chord-span.stories.tsx
  packages/common/src/components/chords-editor/chords-block.stories.tsx
  packages/common/src/components/chords-editor/use-slide.ts
Due: none

chord slide refactor
  packages/common/src/components/song-slide/index.tsx
Due: none

stories fix
  packages/common/src/components/chords-editor/chords-block.stories.tsx
Due: none

define chord actions
  packages/common/src/chords/__tests__/chord-slide.js
  packages/common/src/chords/chord-action.ts
  packages/common/src/chords/chord-slide.ts
  packages/common/src/components/chords-editor/__tests__/__snapshots__/chord-editor.js.snap
  packages/common/src/types/index.ts
Due: none

ChordsEditor refactor
  packages/common/src/components/chords-editor/index.tsx
  packages/common/src/components/chords-editor/slide-actions.ts
  packages/common/src/components/chords-editor/slide-reducer.ts
  packages/common/src/components/chords-editor/use-slide.ts
Due: none

fix import
  packages/common/src/components/chords-editor/chords-block.stories.tsx
Due: none

fix import
  packages/common/package.json
Due: none

try to use ChordsEditor
  packages/editor/package.json
  packages/editor/src/molecules/slide.tsx
Due: pages

move ChordsEditor
  packages/editor/src/organisms/chords-editor/__tests__/__snapshots__/chord-editor.js.snap
  packages/editor/src/organisms/chords-editor/__tests__/__snapshots__/chord-span.js.snap
  packages/editor/src/organisms/chords-editor/__tests__/chord-editor.js
  packages/editor/src/organisms/chords-editor/__tests__/chord-span.js
  packages/editor/src/organisms/chords-editor/chord-span.stories.tsx
  packages/editor/src/organisms/chords-editor/chord-span.tsx
  packages/editor/src/organisms/chords-editor/chords-block.stories.tsx
  packages/editor/src/organisms/chords-editor/chords-block.tsx
  packages/editor/src/organisms/chords-editor/index.stories.tsx
  packages/editor/src/organisms/chords-editor/index.tsx
  packages/editor/src/organisms/chords-editor/key-binding.ts
  packages/editor/src/organisms/chords-editor/slide-actions.ts
  packages/editor/src/organisms/chords-editor/slide-reducer.ts
  packages/editor/src/organisms/chords-editor/use-slide.ts
Due: pages

move SongSlide
  packages/webapp/src/components/organisms/song-slide/index.tsx
Due: none

add core types to bit
  .bitmap
  bit.json
  packages/common/src/index.ts
  packages/common/src/types/index.ts
Due: none

add SongSlide to bit
  .bitmap
  bit.json
  packages/webapp/package.json
  packages/webapp/src/components/organisms/song-slide/index.tsx
Due: none

using bit
  packages/common/package.json
  packages/editor/package.json
  yarn.lock
Due: pages

ChordEditor to bit
  .bitmap
  packages/editor/src/organisms/chords-editor/__tests__/chord-editor.js
  packages/editor/src/organisms/chords-editor/chord-span.stories.tsx
  packages/editor/src/organisms/chords-editor/chord-span.tsx
  packages/editor/src/organisms/chords-editor/chords-block.stories.tsx
  packages/editor/src/organisms/chords-editor/chords-block.tsx
  packages/editor/src/organisms/chords-editor/index.stories.tsx
  packages/editor/src/organisms/chords-editor/index.tsx
  packages/editor/src/organisms/chords-editor/slide-actions.ts
  packages/editor/src/organisms/chords-editor/slide-reducer.ts
  packages/editor/src/organisms/chords-editor/use-slide.ts
Due: pages

refactor core components with bit
  .bitmap
  bit.json
  packages/common/src/chords/chord-action.ts
  packages/common/src/chords/index.ts
  packages/common/src/index.ts
  packages/common/src/types/index.ts
Due: none

ChordEditor SlongSlide to bit
  .bitmap
  bit.json
  packages/editor/package.json
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/organisms/chords-editor/__tests__/chord-editor.js
  packages/editor/src/organisms/chords-editor/chord-span.stories.tsx
  packages/editor/src/organisms/chords-editor/chord-span.tsx
  packages/editor/src/organisms/chords-editor/chords-block.stories.tsx
  packages/editor/src/organisms/chords-editor/chords-block.tsx
  packages/editor/src/organisms/chords-editor/index.stories.tsx
  packages/editor/src/organisms/chords-editor/index.tsx
  packages/editor/src/organisms/chords-editor/slide-actions.ts
  packages/editor/src/organisms/chords-editor/slide-reducer.ts
  packages/editor/src/organisms/chords-editor/use-slide.ts
  packages/editor/src/organisms/form-edit.tsx
  packages/webapp/package.json
  packages/webapp/src/components/organisms/song-slide/index.tsx
  yarn.lock
Due: pages

using bit packages
  packages/editor/package.json
  packages/editor/src/lib/text-breaker.ts
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/molecules/song-confirm.tsx
  packages/editor/src/organisms/form-add.tsx
  packages/editor/src/organisms/form-edit.tsx
  packages/webapp/package.json
  yarn.lock
Due: pages

bit packages refactor and update
  .bitmap
  packages/common/src/chords/chord-slide.ts
  packages/common/src/chords/index.ts
  packages/editor/package.json
  packages/webapp/src/components/organisms/song-slide/index.tsx
  yarn.lock
Due: pages

ChordsEditor position fix
  .bitmap
  packages/editor/package.json
  packages/editor/src/organisms/chords-editor/chords-block.tsx
  yarn.lock
Due: pages

ChordsEditor working
  packages/editor/src/lib/text-breaker.ts
  packages/editor/src/molecules/slide.tsx
  packages/editor/src/organisms/form-edit.tsx
Due: pages
